body {
  background: linear-gradient(180deg, #1B1B1B 0%, #2B2B2B 44.23%, #323232 77.88%, #1B1B1B 100%);
  background-attachment: fixed;
  background-size: cover;
  margin: 0; 
  padding: 0;
  
}

/* Contenu principal: Application de la grille */
.pattern-background {
  /* Réactivation et ajustement de la grille */
  background-image: 
    linear-gradient(#4e4b4194 1px, transparent 1px), 
    linear-gradient(to right, #4e4b4194 1px, #71718300 1px);
  background-size: 40px 40px; /* Taille des cellules de la grille */
  background-attachment: fixed;
  min-height: 100vh; /* S'assurer que le motif couvre toute la hauteur */
}

h1, h2 {
  color: var(--font-color);
  font-family: var(--title-font);
}

/* Styles pour la section d'erreur 404 */
.section-erreur {
  display: flex;
  
  text-align: center;
  width: auto; /* Permet à la marge de prendre effet */
  margin-left: 3em;
  margin-right: 3em;
  background-image: linear-gradient(177deg, #961403 11.95%, #871506 28.39%, #21212100 82.04%);
  justify-content: center;
  border: solid 1px var(--border-color-side);
}

.titre-erreur-base {
  -webkit-text-fill-color: var(--title-color);
}

.titre-erreur {
  color: transparent;                
  
  
}

.titre-erreur {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: clamp(20px, 9vw, 45px);
  line-height: 0.78;
  text-transform: uppercase;
  margin: 0;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: rgb(255, 255, 255);

  line-height: 0.6;
  letter-spacing: 1px;
  height: 220px;
  font-weight: lighter;
}

.titre-erreur-layer--1 {
  opacity: 0.8;
  -webkit-text-stroke-width: 0.8px;
}

.titre-erreur-layer--2 {
  opacity: 0.5;
  -webkit-text-stroke-width: 0.5px;
}

.titre-erreur-layer--3 {
  opacity: 0.3;
  -webkit-text-stroke-width: 0.2px;
}

.message {
  font-family: var(--general-font);
  color: var(--font-color);
  font-size: 1.5em;
  margin-bottom: 1.5em;
}


/* Bordures latérales (déjà définies) */
.border {
  position: fixed;
  background: var(--border-color-side); 
  z-index: 9999;
}

.border.gauche {
  top: 0;
  left: 3em;
  width: 1px; 
  height: 100%;
}

.border.droite {
  top: 0;
  right: 3em;
  width: 1px;
  height: 100%;
}