  
  body {
    background-image: linear-gradient(180deg, #1B1B1B 0%, #2B2B2B 44.23%, #323232 77.88%, #1B1B1B 100%);
;
    background-size: 10em;
  }

  h1, h2, h3 {
    color: var(--font-color);
    font-family: var(--title-font);
  }

  p {
    font-family: var(--general-font);
    color: var(--font-color);
  }


@media screen and (max-width: 440px) {

  /*------------- Header --------------*/
  .site-header {
    padding: 20px 2em 1em 2em;
    border-bottom: 2px solid var(--border-color);
    margin: 0px;
  }

  /*------------- Borders --------------*/
  .border {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 0;                
    background: transparent;
    z-index: 9999;
    pointer-events: none;
  }

  .border.gauche { 
    left: 1rem; 
    border-left: 1px solid var(--border-color); 
  }

  .border.droite  { 
    right: 1rem; 
    border-left: 1px solid var(--border-color);
  }


  /*------------- Description arcade --------------*/
  .conteneur-description-arcade {
    padding: 25px 35px 45px 35px;
    display: flex;
    flex-flow: column nowrap;
    border-bottom: 2px solid var(--border-color);
  }

  .conteneur-description-arcade .description-titre {
    border: 1px solid var(--border-color);
    width: min-content;
    padding: 5px 100px 6px 11px;
  }



  /*------------- Contenu page arcade --------------*/
  .page-arcade {
    display: flex;
    max-width: 1200px; 
    margin: 0em 1em; 
    flex-direction: column;
  }
  
  .page-arcade section {
    width: 100%;
  }

  .page-arcade img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* centre les images */
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
  }

  /*------------- Liste des projets arcade --------------*/
  .liste-projet-arcade {
    gap: 30px;
  }

  .carte-projet-arcade--desktop {
    display: none;
  }

  .carte-projet-arcade{
    background-color: rgb(48, 48, 48);
    border: 1px solid var(--border-color);
    margin: 0px 47px;
  }

  .titre-projet-arcade {
    font-weight: lighter;
    font-size: 17px;
  }

  .conteneur-carte-haut {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 7px 13px;
  }

  .button-projet-arcade {
    background-color: var(--bouton-projet-arcade-color);
    border: 1px solid var(--border-color);
    cursor: pointer;
    width: 35px;
    height: 35px;
    color: var(--font-color);
  }

  .conteneur-button-dropdown-arcade {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /*background-color: none;*/
    border-bottom: 1px solid var(--border-color);
  }

  .button-dropdown-arcade {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 25px;
    height: 25px;
    color: var(--font-color);
    border-left: 1px solid var(--border-color);
  }

    /* carte fermée */
  .carte-projet-arcade .dropdown-carte-arcade {
    max-height: 0;
    overflow: hidden;
    padding: 0 1rem;
    display: block;
  }

  /* carte s'ouvre*/
  .carte-projet-arcade.open-desc .dropdown-carte-arcade {
    max-height: 800px; 
  }

  .carte-arcade-titre-description {
    font-size: 12px;
    margin: 0;
    align-self: center;
    padding-left: 10px;
  }
  

  /*------------- Filtre --------------*/
  .filtre {
    width: fit-content;
    background-color: rgb(48, 48, 48);
    border: 1px solid var(--border-color);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 47px;
  }

  .conteneur-arcade-filtre {
    margin-top: 50px;
  }
}

/*-------------- TABLET/PETIT ECRAN ARCADE--------------*/
@media screen and (min-width: 441px) and (max-width: 1024px) {
  .border {
    position: fixed;
    background: var(--border-color); 
    z-index: 9999;
  }

  .border.gauche {
    top: 0;
    left: 2em;
    width: 2px; 
    height: 100%;
  }

  .border.droite {
    top: 0;
    right: 2em;
    width: 2px; 
    height: 100%;
  }

  .titre-arcade {
    border-bottom: 2px solid var(--border-color);
  }

  .conteneur-description-arcade .description-texte {
    padding: 0px 147px;
  }

  .conteneur-description-arcade .description-titre {
    padding-left: 147px;
  }

  .presentation-arcade {
    border-bottom: 2px solid var(--border-color);
  }

  .page-arcade {
    display: flex;
    max-width: 1200px; 
    margin: 0em auto; 
    flex-direction: column;
  }

    /*------------- Liste des projets arcade --------------*/
  
  .button-dropdown-arcade, .button-projet-arcade, .carte-arcade-titre-description {
    display: none;
  }

}

/*-------------- DESKTOP ARCADE --------------*/
@media screen and (min-width: 1025px) {
  .border {
    position: fixed;
    background: var(--border-color); 
    z-index: 9999;
  }

  .border.gauche {
    top: 0;
    left: 3em;
    width: 2px; 
    height: 100%;
  }

  .border.droite {
    top: 0;
    right: 3em;
    width: 2px; 
    height: 100%;
  }
  

  .presentation-arcade {
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 2px solid var(--border-color);
    padding: 0px 300px;
  }
}

  .conteneur-section-arcade-bas {
    background-image: 
      radial-gradient(circle, #3227DD 1.3px, transparent 1px), /* pointillés */
      linear-gradient(to top ,  #2b2b2b 0%,#202020 100%); /* dégradé */
    background-size: 
      15px 15px, 
      auto;       
    background-repeat: 
      repeat,     
      no-repeat; 

    padding-bottom: 5em;
  }

  /*------------- Section description + titre --------------*/
  .presentation-arcade {
    background-image: 
      linear-gradient(177deg, #4032FF 11.95%, #362CB6 28.39%, #21212100 82.04%);
    
  }


  /*------------- Titre arcade --------------*/
  .titre-arcade--base {
    -webkit-text-fill-color: var(--font-color);
  }

  .titre-arcade {
    color: transparent;               
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 0px transparent;
  }

  .titre-arcade {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: clamp(20px, 9vw, 45px);
    line-height: 0.78;
    text-transform: uppercase;
    margin: 0;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: rgb(255, 255, 255);

    line-height: 0.6;
    letter-spacing: 1px;
    height: 220px;
    font-weight: lighter;
  }

  .titre-arcade-layer--1 {
    opacity: 0.8;
    -webkit-text-stroke-width: 0.8px;
  }

  .titre-arcade-layer--2 {
    opacity: 0.5;
    -webkit-text-stroke-width: 0.5px;
  }

  .titre-arcade-layer--3 {
    opacity: 0.3;
    -webkit-text-stroke-width: 0.2px;
  }

