.header-container form.search-form {
  transform: translateY(14px); 
}

body {
  background: linear-gradient(180deg, #1B1B1B 0%, #2B2B2B 44.23%, #323232 77.88%, #1B1B1B 100%);
  background-attachment: fixed;
  background-size: cover;
}

.pattern-background {
  background-image: linear-gradient(#4e4b4194 1px, transparent 1px), linear-gradient(to right, #4e4b4194 1px, #71718300 1px);
  background-size: 40px 40px;
  background-attachment: fixed;
}

h1, h2 {
  color: var(--font-color);
  font-family: var(--title-font);
}

.header-container form.search-form {
    transform: translateY(8px); 
}

/******************* CSS Contact général **********************/
.forumContact{
  display: flex;
  justify-content: center;
  align-items: center;
}

.forumContact form{
  width: 39rem; /*39rem*/
  height: 35rem; /*35rem*/
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.forumContact form input{
  width: 18.75rem; /*11rem*/
  height: 3rem; /*2rem*/
  outline: none;
  border: none;
  font-size: 20px;
  margin-bottom: 10px;
  background: none;
  border-bottom: 2px solid var(--border-color-side);
  color: var(--font-color);
}

.forumContact form h1{
  color: var(--font-color);
}

.forumContact form input::placeholder{
  color: #bcbcbc;
  font-family: var(--general-font);
}

.prenom, .nom, .numeroMobile, .emailContact{
  padding-left: 20px;
}

.forumContact form h4{
  color: var(--font-color);
  font-family: var(--general-font);
  font-weight: 300;
  font-size: 20px;
  width: 600px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.forumContact form textarea{
  background: none;
  border: none;
  border-bottom: 2px solid var(--border-color-side);
  color: #fff;
  font-weight: 200;
  font-size: 20px;
  padding: 10px;
  outline: none;
  min-height: 180px;
  max-height: 180px;
  min-width: 620px;
  max-width: 620px;
}

.forumContact form #bouton{
  border: none;
  background: #fff;
  border-radius: 5px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 24px;
  color: #000;
  width: 200px;
  height: 60px;
  padding: 0;
  margin-bottom: 30px;
  transition: 0.3s;
}

.forumContact form #bouton:hover{
  background: #000;
  color: var(--font-color);
  transition: .3s ease-in-out;
}

.messagePageContact{
    text-align: center;
    padding-bottom: 1rem;
    padding-bottom: 2rem;
}

.messagePageContact img{
    scale: 2;
}

#bouton{
  font-family: var(--general-font);
}

/********************* Section @Media ********************/
@media screen and (max-width: 576px) {
  
  .border {
    position: fixed;
    background: var(--border-color-side);
    z-index: 9999;
  }

  .border.gauche {
    top: 0;
    left: 1em;
    width: 1px;
    height: 100%;
  }

  .border.droite {
    top: 0;
    right: 1em;
    width: 1px;
    height: 100%;
  }

  .contact-section {
    background-image: linear-gradient(177deg, #580caa 11.95%, #580caa 28.39%, #21212100 82.04%);
    border: solid 1px var(--border-color-side);
    margin-left: 1em;
    margin-right: 1em;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 15px; /* Réduction de l'espacement */
    flex-direction: column; /* Pour que les éléments s'empilent sur petit écran */
    padding: 10px;
  }

  .titre-contact {
    color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: clamp(16px, 8vw, 28px); /* Taille adaptée aux mobiles */
    text-transform: uppercase;
    margin: 0;
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: #fff;
    line-height: 0.7;
    letter-spacing: 1px;
    height: auto; /* Ajusté pour mobile */
    font-weight: lighter;
    text-align: center;
    margin-top: 30px;
  }
  .titre-contact-base {
  -webkit-text-fill-color: var(--title-color);
  }
  .titre-contact-layer--1 {
    opacity: 0.8;
  }

  .titre-contact-layer--2 {
    opacity: 0.5;
  }

  .titre-contact-layer--3 {
    opacity: 0.3;
  }

  /********* Secttion pour Forum Contact **********/
  .forumContact form{
    width: 27rem; /*23rem*/
    height: 21rem; /*27rem*/
    margin-bottom: 20rem;
  }

  .forumContact form textarea{
    min-width: 420px;
    max-width: 576px;
  }
  
}

@media screen and (min-width: 576.02px) {
  .forumContact form{
    margin-bottom: 0;
  }

  .border {
    position: fixed;
    background: var(--border-color-side);
    z-index: 9999;
  }

  .border.gauche {
    top: 0;
    left: 2em;
    width: 1px;
    height: 100%;
  }

  .border.droite {
    top: 0;
    right: 2em;
    width: 1px;
    height: 100%;
  }

  .contact-section {
    background-image: linear-gradient(177deg, #580caa 11.95%, #580caa 28.39%, #21212100 82.04%);
    border: solid 1px var(--border-color-side);
    margin-left: 2em;
    margin-right: 2em;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 20px; /* Réduction intermédiaire du gap */
    flex-direction: column; /* Empilement pour tablette */
    padding: 15px;
  }

  /* Titres recherche */
  .titre-contact {
    color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: clamp(18px, 10vw, 40px); /* taille adaptée pour tablette */
    text-transform: uppercase;
    margin: 0;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: #fff;
    line-height: 0.65;
    letter-spacing: 1px;
    height: auto;
    font-weight: lighter;
    text-align: center;
    margin-top: 30px;
  }

  .titre-contact-base {
  -webkit-text-fill-color: var(--title-color);
  }
  .titre-contact-layer--1 {
    opacity: 0.8;
  }

  .titre-contact-layer--2 {
    opacity: 0.5;
  }

  .titre-contact-layer--3 {
    opacity: 0.3;
  }
}

@media screen and (min-width: 1024px){
  .border {
    position: fixed;
    background: var(--border-color-side);
    z-index: 9999;
  }

  .border.gauche {
    top: 0;
    left: 3em;
    width: 1px;
    height: 100%;
  } 

  .border.droite {
    top: 0;
    right: 3em;
    width: 1px;
    height: 100%;
  }
  .border.gauche { left: 3em; }
  .border.droite { right: 3em; }

  .search-section{
    display: flex;
    justify-content: center;
  }

  .titre-contact-base {
    -webkit-text-fill-color: var(--title-color);
  }

  .titre-contact {
    color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: clamp(20px, 12vw, 50px);
    text-transform: uppercase;
    margin: 0;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #fff;
    line-height: 0.6;
    letter-spacing: 1px;
    height: 220px;
    font-weight: lighter;
  }

  .titre-contact-layer--1 {
    opacity: 0.8;
  }

  .titre-contact-layer--2 {
    opacity: 0.5;
  }

  .titre-contact-layer--3 {
    opacity: 0.3;
  }

  .contact-section{
    background-image: linear-gradient(177deg, #580caa 11.95%, #580caa 28.39%, #21212100 82.04%);
    border: solid 1px var(--border-color-side);
    margin-left: 3em;
    margin-right: 3em;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 30px;
  }
}

@media screen and (min-width: 1200.02px) {
  .forumContact form{
    margin-bottom: 8rem;
  }
  
}