.header-container form.search-form {
  transform: translateY(14px); 
}

body {
  background: linear-gradient(180deg, #1B1B1B 0%, #2B2B2B 44.23%, #323232 77.88%, #1B1B1B 100%);
  background-attachment: fixed;
  background-size: cover;
}

.pattern-background {
  background-image: linear-gradient(#4e4b4194 1px, transparent 1px), linear-gradient(to right, #4e4b4194 1px, #71718300 1px);
  background-size: 40px 40px;
  background-attachment: fixed;
}

h1, h2 {
  color: var(--font-color);
  font-family: var(--title-font);
}

.page-arcade h3, .page-arcade p, .page-arcade a, .page-arcade li {
  font-family: var(--general-font);
  color: var(--font-color);
}

/******************* CSS Contact général **********************/
.forumContact{
  display: flex;
  justify-content: center;
  align-items: center;
}

.forumContact form{
  width: 39rem; /*23rem*/
  height: 35rem; /*27rem*/
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.forumContact form input{
  width: 18.75rem; /*11rem*/
  height: 3rem; /*2rem*/
  outline: none;
  border: none;
  font-size: 20px;
  margin-bottom: 10px;
  background: none;
  border-bottom: 2px solid var(--border-color-side);
  color: var(--font-color);
}

.forumContact form input::placeholder{
  color: #bcbcbc;
}

.prenom, .nom, .numeroMobile, .emailContact{
  padding-left: 20px;
}

.forumContact form h4{
  color: var(--font-color);
  font-weight: 300;
  font-size: 20px;
  width: 600px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.forumContact form textarea{
  background: none;
  border: none;
  border-bottom: 2px solid var(--border-color-side);
  color: #fff;
  font-weight: 200;
  font-size: 20px;
  padding: 10px;
  outline: none;
  min-height: 180px;
  max-height: 180px;
  min-width: 620px;
  max-width: 620px;
}

.forumContact form #bouton{
  border: none;
  background: #fff;
  border-radius: 5px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 24px;
  color: #000;
  width: 200px;
  height: 60px;
  padding: 0;
  margin-bottom: 30px;
  transition: 0.3s;
}

.forumContact form #bouton:hover{
  background: #000;
  color: var(--font-color);
  transition: .3s ease-in-out;
}

.messagePageContact{
    text-align: center;
    padding-bottom: 1rem;
    padding-bottom: 2rem;
}

.messagePageContact img{
    scale: 2;
}

/********************* Section @Media ********************/
@media screen and (max-width: 576px) {
  .forumContact form{
    width: 27rem; /*23rem*/
    height: 21rem; /*27rem*/
    margin-bottom: 20rem;
  }

  .forumContact form textarea{
    min-width: 420px;
    max-width: 576px;
  }
}

@media screen and (min-width: 576.02px) {
  .forumContact form{
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {

}