/*------------- Footer CSS --------------*/

  footer h3, footer p, footer a, footer li {
    font-family: var(--general-font);
    color: var(--font-color);
    letter-spacing: normal;
  }

  footer ul{
    list-style: none;
    padding: 0;
  }

  footer ul li a {
    text-decoration: none;
  }

  .footer-icones a img {
    height: clamp(20px, 2vw, 30px);
  }

  .footer-icones a {
    color: transparent;
  }

  .footer-icones {
    border: 1px solid var(--border-color);
    padding: 0.4em 0.7em;
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
  }

@media screen and (max-width: 576px) {
  
    body {
     margin: 0px;
    }
    .logo-tim{
      width: 100px;
      height: 100px;

  }
   .logo-tim-mob{
    
    width: 100px;
    height: 100px;
  }

    footer a, footer p {
      font-size: 12px;
    }

    footer h3 {
      font-size: 15px;
    }

    footer a, footer p, footer h3 {
      color: var(--font-color);
    }

    footer > *:not(#wpadminbar, .footer-bottom) {
      border-top: solid 1px var(--font-color);
      padding: 1em 1em;
      margin: 0em 1em;
    }

    .footer-top{
      display: flex;
      flex-flow: row;
      justify-content: space-between;
    }

    footer ul{
      list-style: none;
      padding: 0;
    }

    footer ul li a {
      text-decoration: none;
    }

    .footer-left, .footer-right {
      padding: 0em 1em;
    }

    .footer-left {
      border-bottom: solid 1px var(--font-color);
      
    }
    .div-logo-tim{
      display: flex;
      justify-content: space-between;
      align-items: start;
      margin-right: 50px;
      
    }

    .footer-bottom {
      display: flex;
      flex-flow: column wrap;
      border-top: solid 1px var(--font-color);
      padding: 0em;
      margin: 0em 1em;
    }

    .footer-tim {
      display: none;
    }

    .footer-adresse, .footer-telephone {
      display: flex;
      flex-flow: nowrap row;
    }

    .footer-adresse img, .footer-telephone img {
      width: 20px;
      margin-right: 10px;
    }

    .footer-logo-img {
      width: 100px;
    }

    .footer-logo {
      align-self: center;
    }
} /*------------- FIN FOOTER MOBILE --------------*/


/*--------------FOOTER TABLET/PETIT ECRAN --------------*/
@media screen and (min-width: 576.02px) and (max-width: 1200px) {

  .footer-border {
    border-top: 1px solid var(--border-color-side);
    margin: 0 2em;
  }
  .logo-tim{
    width: 132px;
    height: 132px;
    padding: 15px;
  }
  .logo-tim-mob{
    display: none;
  }
  .site-footer {
    width: 85vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:


        "top top top top "
        "contact contact contact contact"
        "bottom bottom bottom tim"
        "menu-bas menu-bas menu-bas menu-bas";

        
    padding: 2em;
    padding-top: 7em;
    color: var(--font-color);
  }


  .site-footer > *:not(.footer-top, .footer-menu-bas){
    background-color: rgba(255, 255, 255, 0);
  }
  
  .site-footer > *:not(.footer-top, .footer-menu-bas, .footer-contact, #wpadminbar, .footer-tim) {
    border: 1px solid var(--border-color);
  }

  .footer-tim {
    grid-area: tim;
    border-color: var(--border-color);
    border: 1px solid;
    border-left: none;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
  }

  
  .footer-top {
    grid-area: top;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 3em;
  }

  .footer-adresse {
    grid-area: adresse;
    border-right: 1px solid var(--border-color);
  }

  .footer-telephone {
    grid-area: telephone;
    border-left: 0px;
  }
  
  .footer-contact {
    border: 1px solid var(--border-color)k;
    border-left: none;
    grid-area: contact;
    display: grid;
    grid-template-columns: 4fr 2fr;      
    grid-template-areas:
    
        "adresse telephone";

    border: 1px solid var(--border-color);
    border-bottom: none;

 
  }
  
  .footer-contact > * {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 1em;
    
  }

  .footer-bottom {
    grid-area: bottom;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

  }
  
  .footer-left {
   border-right: 1px solid var(--border-color);
  }

  .footer-left > *, .footer-right > * {
    padding-left: 1.5em;
  }

  .footer-left h3, .footer-right h3 {
    border-bottom: 1px solid var(--border-color);
    margin-top: 0;
    padding-left: 1.3em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
  }


  .footer-menu-bas {
    grid-area: menu-bas;
    text-align: center;
    padding-top: 1em;
  }

  .footer-menu-bas p {
    font-size: 14px;
    opacity: 0.8;
    font-weight: 200;
  }

  .footer-site > *:not(#wpadminbar), footer ul li a {
    color: var(--font-color);
    border-color: var(--border-color);
  }    

  .footer-adresse, .footer-telephone {
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
    gap: 10px;
  }

  .footer-adresse img, .footer-telephone img {
    width: 22px;
  }

  .footer-logo-img {
    width: 150px;
  }

  .footer-logo {
    align-self: center;
  }
}/*-------------- FIN FOOTER/PETIT ECRAN --------------*/


/*--------------FOOTER DESKTOP --------------*/
@media screen and (min-width: 1200.02px) {
  .footer-border {
    border-top: 1px solid var(--border-color-side);
    margin: 0 3em;
  }
  .logo-tim{
    width: 200px;
    height: 200px;
  }
   .logo-tim-mob{
    display: none;
  }

  .site-footer {
    width: 75vw;
    margin: auto;
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    grid-template-areas:

        "top top top"
        "bottom tim contact"
        "menu-bas menu-bas menu-bas";

    padding: 7em;
    color: var(--border-color);
  }


  .site-footer > *:not(.footer-top, .footer-menu-bas){
    background-color: rgba(255, 255, 255, 0);
  }
  
   .site-footer > *:not(.footer-top, .footer-menu-bas, .footer-contact, #wpadminbar, .footer-tim) {
    border: 1px solid var(--border-color);
  }

  .footer-tim {
    grid-area: tim;
    border-color: var(--border-color);
    border: 1px solid;
    border-left: none;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(5vw, 6vw, 9vw);
    font-weight: bold;
  }

  .footer-tim p {
    margin: 0;
  }

  .footer-menu-bas p {
    font-size: 14px;
    opacity: 0.8;
    font-weight: 200;
  }
  
  .footer-top {
    grid-area: top;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 3em;

    
  }

  .footer-adresse {
    grid-area: adresse;
    border-bottom: 1px solid var(--border-color);
  }

  .footer-adresse img {
    width: 20px;
  }

  .footer-telephone {
    grid-area: telephone;
    border-left: 0px;
  }
  
  .footer-contact {
    border: 1px solid var(--border-color)k;
    border-left: none;
    grid-area: contact;
    display: grid;
    grid-template-rows: 75% 25%;      
    grid-template-areas:

        "adresse"
        "telephone";

    border: 1px solid var(--border-color);
    border-left: none;

 
  }
  
  .footer-contact > * {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 1em;
    
  }

  .footer-bottom {
    grid-area: bottom;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-bottom li {
    margin: 0.2em auto;
  }
  
  .footer-left {
   border-right: 1px solid var(--border-color);
  }

  .footer-left > *, .footer-right > * {
    padding-left: 1.5em;
    
  }

  .footer-left h3, .footer-right h3 {
    border-bottom: 1px solid var(--border-color);
    margin-top: 0;
    padding-left: 1.3em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    
  }


  .footer-menu-bas {
    grid-area: menu-bas;
    text-align: center;
    padding-top: 1em;
  }

  .footer-site > *:not(#wpadminbar), footer ul li a {
    color: var(--font-color);
    border-color: var(--border-color);
  }    

  .footer-adresse, .footer-telephone {
    display: flex;
    flex-flow: nowrap row;
    justify-content: flex-start;
    gap: 10px;
  }

  .footer-adresse img, .footer-telephone img {
    width: 22px;
  }

  .footer-logo-img {
    width: 175px;
  }

  .footer-logo {
    align-self: center;
  }
} /*-------------- FIN FOOTER DESKTOP --------------*/
/*div.footer-right > ul > li > a {
    color: red;
}*/






