/*------------- Footer CSS --------------*/

@media screen and (max-width: 440px) {

    body {
        margin: 0px;
    }

    footer {
        margin-top: 5em;
    }

    footer a, footer p, footer h3 {
        color: var(--font-color);
    }

    .footer-top{
        display: flex;
        flex-flow: row;
    }

    footer > * {
        border-top: solid 2px var(--font-color);
        padding: 1em 1em;
        margin: 0em 1em;
    }

    footer ul{
        list-style: none;
        padding: 0;
    }

    footer ul li a {
        text-decoration: none;
    }

    .footer-bottom {
        display: flex;
        flex-flow: row;
    }
    
}