body {
  background: linear-gradient(180deg, #1B1B1B 0%, #2B2B2B 44.23%, #323232 77.88%, #1B1B1B 100%);
  background-attachment: fixed;
  background-size: cover;
}

span, p, strong {
  font-family: var(--general-font);
  color: var(--font-color);
}

h1 {
  color: var(--font-color);
  font-family: var(--title-font);
}

.border {
    position: fixed;
    background: var(--border-color-side); /* couleur des bords */
    z-index: 9999;
  }

  .border.gauche {
    top: 0;
    left: 1em;
    width: 1px; /* épaisseur du bord gauche */
    height: 100%;
  }

  .border.droite {
    top: 0;
    right: 1em;
    width: 1px; /* épaisseur du bord droit */
    height: 100%;
  }

  main {
  background-image: linear-gradient(#4e4b4194 1px, transparent 1px), linear-gradient(to right, #4e4b4194 1px, #71718300 1px);
  background-size: 40px 40px;
  background-attachment: fixed;
  }

/*************************Présentation du projet*******************************************/
.titre-arcade {
  background-image: 
    linear-gradient(177deg, var(--bouton-projet-arcade-color) 11.95%, #362CB6 28.39%, #21212100 82.04%);
  position: relative;
  line-height: 0.7;
  padding: 3vw;
  border-top: 2px solid var(--border-color-side);
  border-bottom: 2px solid var(--border-color-side);
  font-family: var(--title-font);
}

.titre-arcade-layer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 10vw;
  font-family: var(--title-font);
}

.titre-arcade-layer1 {
  color: transparent;
  opacity: 0.8;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: var(--font-color);
}

.titre-arcade-layer2 {
  opacity: 0.5;
  color: transparent;
  -webkit-text-stroke-width: 0.6px;
  -webkit-text-stroke-color: var(--font-color);
}

.titre-arcade-layer3{
  opacity: 0.5;
  color: transparent;
  -webkit-text-stroke-width: 0.4px;
  -webkit-text-stroke-color: var(--font-color);
}

.retour-arcade {
  margin-top: 20px;
  margin-left: 20px;
}

.lien-retour {
  color: #ffffff; /* texte blanc */
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  gap: 5px; /* espace entre la flèche et le texte */
}

.lien-retour:hover {
  text-decoration: underline;
  cursor: pointer;
}

.manette {
  position: absolute;
  margin-left: 70vw;
  margin-top: -20vw;
  width: 20vw;
  transform: rotateZ(-35deg);
}

.video-projet {
  border: 2px solid var(--border-color-side);
  border-radius: 40px;
  width: 80vw;
  justify-self: center;
}

iframe {
  border-radius: 40px;
}

.infos-cours-annee {
  text-align: center;
  background-image: 
    linear-gradient(177deg, var(--bouton-projet-arcade-color) 11.95%, #362CB6 28.39%, #21212100 82.04%);
  width: 40vw;
  padding: 4vw;
  justify-self: center;
  margin-top: 2em;
  border: 2px solid var(--border-color-side);
  border-radius: 40px;
  font-weight: bold;
  margin-bottom: 70px;
}

.infos-etudiants {
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin-top: 2em;
  width: 70vw;
  border: 2px solid var(--border-color-side);
}

.titre-equipe {
  background-image: 
    linear-gradient(177deg, var(--bouton-projet-arcade-color) 11.95%, #362CB6 28.39%, #21212100 82.04%);
  color: #ffffff;
  padding: 8px;
  border-bottom: 2px solid var(--border-color-side);
}

.nom-etudiant {
  padding: 10px;
}

.titre-equipe, .nom-etudiant {
  padding: 15px;
}

.image-projet {
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin-top: 2em;
  border: 2px solid var(--border-color-side);
}

.image-projet > span, .description-projet > .description-titre {
  background-image: 
    linear-gradient(177deg, var(--bouton-projet-arcade-color) 11.95%, #362CB6 28.39%, #21212100 82.04%);
  width: 20vw;
  padding: 10px;
  border: 2px solid var(--border-color-side);
}

.image-projet span {
  width: auto;
  font-weight: bold;
  border-top: none;
}

.image-projet-arcade {
  width: 70vw;
}

.description-projet {
  display: flex;
  flex-direction: column;
  width: 70vw;
  justify-self: center;
  margin-top: 2em;
  border: 2px solid var(--border-color-side);
  height: fit-content;
}

.description-projet .description-titre {
  width: auto;
  padding-left: 20px;
  font-weight: bold;
  border-top: none;

}

.description-projet > .description {
  padding: 20px;
}

/********************************************** CSS Desktop ********************************************************/
@media screen and (min-width: 994px) {
  .titre-arcade-layer {
    font-size: 4vw;
  }

  .manette {
    width: 10vw;
    right: 30%;
    bottom: 2%;
  }

  .infos-cours-annee {
    width: 20vw;
    padding: 2vw;
    font-size: 2vw;
  }

  .image-projet span, .infos-etudiants .titre-equipe,  .description-projet{
    font-size: 1.8vw;
  }

  .image-projet img {
    width: 30vw;
  }

  .image-projet {
    max-height: fit-content;
  }

  .description-image {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
	  grid-template-columns: repeat(2, 1fr);
    background-color: rgb(48,48,48);
    border: 2px solid var(--border-color-side);
    width: 80%;
    justify-self: center;
    position: relative; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: transform 260ms cubic-bezier(.2,.8,.2,1),
                box-shadow 260ms ease,
                filter 260ms ease,
                border-radius 260ms ease;
    will-change: transform, box-shadow;
    transform-origin: center;
    padding-bottom: 70px;
    margin-bottom: 70px;
  }

  .description-image::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    border-radius: 60px;

    /* halftone + tint */
    background-image:
      linear-gradient(rgba(64,50,255,0.06), rgba(53, 40, 236, 0.272)),
      radial-gradient(circle, rgba(255,255,255,0.12) 1.5px, transparent 1px);
    background-size: auto, 12px 12px; /* change second value for dot density */
    mix-blend-mode: screen;

    /* commencer par être caché et animer au survol */
    opacity: 0;
    transform: translateY(6px);
    transition: opacity 260ms ease, transform 260ms cubic-bezier(.2,.8,.2,1);

    /* estomper le demi-ton vers le haut */
    -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0) 100%);
    mask-image: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0) 100%);

    z-index: 2;

    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
  }

  .description-image:hover::after {
    opacity: 1;
    transform: translateY(0);
  }

  .description-image:hover {
    transform: translateY(-10px);
    box-shadow: 16px 16px 0px rgb(15, 13, 50);
    border-radius: 40px;
    color: thistle;
  }

  .description-image:hover > .image-projet, 
  .description-image:hover > .infos-etudiants,
  .description-image:hover > .description,
  .description-image:hover > .description-projet {
    border-radius: 40px;
  }

  .description-image:hover > .infos-etudiants .titre-equipe,
  .description-image:hover > .image-projet span,
  .description-image:hover > .description-projet .description-titre {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }

  .description-image:hover > .image-projet img {
    border-radius: 40px;
  }

  .image-projet,
  .infos-etudiants,
  .description,
  .description-projet,
  .infos-etudiants .titre-equipe,
  .image-projet span,
  .description-projet .description-titre,
  .image-projet img {
    transition: border-radius 260ms;
  }

  .description-image .image-projet {
    grid-area: 1 / 1 / 3 / 2;
  }

  .description-image .infos-etudiants {
    grid-area: 1/2/2/3;
    width: 100%;
  }

  .description-image .image-projet img {
    width: 30vw;
    height: 100%;
}

  .description-image .description-projet {
    grid-area: 2/2/3/3;
    width: 100%;
    align-self: flex-end;
  }

  .description-projet .description, .nom-etudiant {
    font-size: 1.5vw;
  }

.description-projet, .infos-etudiants {
    margin-right: 60px;
  }
}
