body {
  background: linear-gradient(180deg, #1B1B1B 0%, #2B2B2B 44.23%, #323232 77.88%, #1B1B1B 100%);
  background-attachment: fixed;
  background-size: cover;
}

span, p, strong {
  font-family: var(--general-font);
  color: var(--font-color);
}

h1 {
  color: var(--font-color);
  font-family: var(--title-font);
}

.border {
    position: fixed;
    background: var(--border-color-side); /* couleur des bords */
    z-index: 9999;
  }

  .border.gauche {
    top: 0;
    left: 1em;
    width: 1px; /* épaisseur du bord gauche */
    height: 100%;
  }

  .border.droite {
    top: 0;
    right: 1em;
    width: 1px; /* épaisseur du bord droit */
    height: 100%;
  }

  main {
  background-image: linear-gradient(#4e4b4194 1px, transparent 1px), linear-gradient(to right, #4e4b4194 1px, #71718300 1px);
  background-size: 40px 40px;
  background-attachment: fixed;
  }

/*************************Présentation du projet*******************************************/
.titre-graphisme {
  background-image: 
    linear-gradient(177deg, var(--bouton-projet-finissant-color) 11.95%, var(--bouton-projet-finissant-color) 28.39%, #21212100 82.04%);
  position: relative;
  line-height: 0.7;
  padding: 3vw;
  border-top: 2px solid var(--border-color-side);
  border-bottom: 2px solid var(--border-color-side);
  font-family: var(--title-font);
}

.titre-graphisme-layer {
  display: flex;
  justify-content: center;
  margin: 0. auto;
  font-size: 8vw;
  font-family: var(--title-font);
}

.titre-graphisme-layer-1 {
  color: transparent;
  opacity: 0.8;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: var(--font-color);
}

.titre-graphisme-layer-2 {
  opacity: 0.5;
  color: transparent;
  -webkit-text-stroke-width: 0.6px;
  -webkit-text-stroke-color: var(--font-color);
}

.titre-graphisme-layer-3{
  opacity: 0.5;
  color: transparent;
  -webkit-text-stroke-width: 0.4px;
  -webkit-text-stroke-color: var(--font-color);
}

.retour-finissant {
  margin-top: 20px;
  margin-left: 20px;
}

.lien-retour {
  color: #ffffff; /* texte blanc */
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  gap: 5px; /* espace entre la flèche et le texte */
}

.lien-retour:hover {
  text-decoration: underline;
  cursor: pointer;
}

.student {
  position: absolute;
  margin-left: 70vw;
  margin-top: -40vw;
  width: 20vw;
  transform: rotateZ(-35deg);
}

.video-projet {
  border: 2px solid var(--border-color-side);
  border-radius: 40px;
  width: 80vw;
  justify-self: center;
}

.infos-etudiants {
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin-top: 2em;
  width: 70vw;
  border: 2px solid var(--border-color-side);
}

.infos-etudiants strong {
  border-bottom: 2px solid var(--border-color-side);
    background-image: linear-gradient(177deg, var(--bouton-projet-finissant-color) 11.95%, var(--bouton-projet-finissant-color) 28.39%, #21212100 82.04%);
}

.infos-etudiants strong, .nom-etudiant {
  padding: 15px;
}

.image-projet {
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin-top: 2em;
  border: 2px solid var(--border-color-side);
}

.image-projet-graphisme {
  width: 70vw;
}

.conteneur-description {
  display: flex;
  flex-direction: column;
  width: 70vw;
  justify-self: center;
  margin-top: 2em;
  border: 2px solid var(--border-color-side);

}

 .conteneur-description .description-titre {
  background-image: 
    linear-gradient(177deg, var(--bouton-projet-finissant-color) 11.95%, var(--bouton-projet-finissant-color) 28.39%, #21212100 82.04%);
  border-bottom: 2px solid var(--border-color-side);
  padding: 15px;
  font-weight: bold;
  margin: 0;
  }

.conteneur-description .description-texte {
  padding-left: 10px;
}

.behance-projet {
  text-align: center;
  background-image: 
    linear-gradient(177deg, var(--bouton-projet-finissant-color) 11.95%, #362CB6 28.39%, #21212100 82.04%);
  width: 40vw;
  padding: 4vw;
  justify-self: center;
  margin-top: 2em;
  border: 2px solid var(--border-color-side);
  font-weight: bold;
}

/********************************************** CSS Desktop ********************************************************/
@media screen and (min-width: 994px) {
  .titre-graphisme-layer {
    font-size: 4vw;
  }
 .student {
    width: 10vw;
    right: 15%;
    bottom: 0;
  }

  .infos-cours-annee {
    width: 20vw;
    padding: 2vw;
    font-size: 2vw;
  }

  .image-projet span, .infos-etudiants .titre-equipe,  .description-projet{
    font-size: 1.8vw;
  }

  .image-projet img {
    width: 30vw;
  }

  .description-projet {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
	  grid-template-columns: repeat(2, 1fr);
    background-color: rgb(48,48,48);
    border: 2px solid var(--border-color-side);
    width: 80%;
    justify-self: center;
    position: relative; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: transform 260ms cubic-bezier(.2,.8,.2,1),
                box-shadow 260ms ease,
                filter 260ms ease,
                border-radius 260ms ease;
    will-change: transform, box-shadow;
    transform-origin: center;
    margin-bottom: 70px;
    padding-bottom: 70px;
  }

  .description-projet::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    border-radius: 60px;

    /* halftone + tint */
    background-image:
      linear-gradient(rgba(64,50,255,0.06), rgba(97, 94, 8, 0.447)),
      radial-gradient(circle, rgba(255,255,255,0.12) 1.5px, transparent 1px);
    background-size: auto, 12px 12px; /* change second value for dot density */
    mix-blend-mode: screen;

    /* commencer par être caché et animer au survol */
    opacity: 0;
    transform: translateY(6px);
    transition: opacity 260ms ease, transform 260ms cubic-bezier(.2,.8,.2,1);

    /* estomper le demi-ton vers le haut */
    -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0) 100%);
    mask-image: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0) 100%);

    z-index: 2;

    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
  }

  .description-projet:hover::after {
    opacity: 1;
    transform: translateY(0);
  }

  .description-projet:hover {
    transform: translateY(-10px);
    box-shadow: 16px 16px 0px rgb(61, 68, 7);
    border-radius: 40px;
    color: thistle;
  }

  .description-projet:hover > .image-projet,
  .description-projet:hover > .image-projet img,
  .description-projet:hover > .infos-etudiants, 
  .description-projet:hover > .conteneur-description {
    border-radius: 40px;
  }

  .description-projet:hover > .infos-etudiants strong, .description-projet:hover > .conteneur-description .description-titre {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }

  .image-projet,
  .image-projet img,
  .infos-etudiants,
  .conteneur-description,
  .infos-etudiants strong,
   .conteneur-description .description-titre{
    transition: border-radius 260ms;
  }

  .description-projet .image-projet {
    grid-area: 1 / 1 / 3 / 2;
  }

  .image-projet img {
    height: 100%;
  }

  .description-projet .infos-etudiants {
    grid-area: 1/2/2/3;
    width: 100%;
    height: fit-content;
  }

  .description-projet .conteneur-description {
    grid-area: 2/2/3/3;
    width: 100%;
    align-self: flex-end;

  }

  .description-projet .description, .nom-etudiant {
    font-size: 1.5vw;
  }

  .conteneur-description, .infos-etudiants {
    margin-right: 60px;
  }

  .behance-projet {
    padding: 20px;
  }
}
