.header-container form.search-form {
  transform: translateY(14px); 
}

body {
  background: linear-gradient(180deg, #1B1B1B 0%, #2B2B2B 44.23%, #323232 77.88%, #1B1B1B 100%);
  background-attachment: fixed;
  background-size: cover;
}

.pattern-background {
  background-image: linear-gradient(#4e4b4194 1px, transparent 1px), linear-gradient(to right, #4e4b4194 1px, #71718300 1px);
  background-size: 40px 40px;
  background-attachment: fixed;
}

h1, h2 {
  color: var(--font-color);
  font-family: var(--title-font);
}
.aucun-projet{
  color: var(--font-color);
  font-family: var(--general-font);
}
.border {
  position: fixed;
  background: var(--border-color-side);
  z-index: 9999;
}

.border.gauche {
  top: 0;
  left: 3em;
  width: 1px;
  height: 100%;
}

.border.droite {
  top: 0;
  right: 3em;
  width: 1px;
  height: 100%;
}

